<div class="place col-xs-10 col-xs-offset-1">

<div class="col-sm-12 col-md-3 col-lg-3">
<%= image_tag 'computer.jpg' %>
</div>

<div class="col-sm-12 col-md-9 col-lg-9">
<% ind = @user.email.index('@') %>
<% username = @user.email.slice(0, ind) %>

<h1><%= username %></h1>
<br>
<h4>Member Since: <%= @user.created_at.strftime("%B %-d, %Y") %></h4>
<h4><%= @user.comments.count %> total comments</h4>
<h4><%= @user.comments.where(rating: '5_stars').count %> total five-star reviews</h4>
</div>

<div class="clear"></div>

<br><br>
<h1 class="text-center">My Comments</h1>
<br><br>

<% if @user.comments.present? %>

<% @user.comments.each do |comment| %>
  <div class="col-xs-12 col-sm-6">
    <h3><%= link_to comment.place.name, place_path(comment.place) %> </h3>
    <blockquote>
      <% if comment.humanized_rating.present? %>
        <b><%= comment.humanized_rating %></b> -
      <% end %>
      <%= comment.message %>
    </blockquote>
  </div>
<% end %>

<% end %>

<div class="clear"></div>

<br><br>
<h1 class="text-center">My Places</h1>
<br><br>

<% if @user.places.present? %>

<% @user.places.each do |place| %>
<div class="col-xs-12 col-sm-6">
  <h1><%= link_to place.name, place_path(place) %></h1><br>
  <i><%= place.address %></i><br><br>
  <p><%= place.description %></p>
</div>

<% end %>

</div>
<% end %>

</div>