<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'assets/slider1.jpg', class: 'responsive' %>
      <div class="carousel-caption">
        Looking for a study spot in Providence?
      </div>
    </div>
    <div class="item">
    <%= image_tag 'assets/slider2.jpg', class: 'responsive' %>
    <div class="carousel-caption">
      Places to write your thesis
    </div>
    </div>
    <div class="item">
    <%= image_tag 'assets/slider3.jpg', class: 'responsive' %>
    <div class="carousel-caption">
      Or just study
    </div>
    </div>
  </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<% @places.each do |place| %>

<div class="place col-xs-10 col-xs-offset-1">
  <h1><%= link_to place.name, place_path(place) %></h1><br>
  <i><%= place.address %></i><br><br>
  <p><%= place.description %></p>

  <p class="pull-right text-muted"><% if place.user.present? %>
    <% ind = place.user.email.index('@') %>
    <% new_email = place.user.email.slice(0, ind) %>
    <small>Added by <%= new_email %></small>
  <% end %></p>

<% if place.comments.present? %>
<div class="col-xs-12">
  <blockquote>
    <% if place.comments.last.humanized_rating.present? %>
      <b><%= place.comments.last.humanized_rating %></b> -
    <% end %>
    <%= place.comments.last.message %>
    <% ind2 = place.comments.last.user.email.index('@') %>
    <% new_email2 = place.comments.last.user.email.slice(0, ind2) %>
    <small><%= new_email2 %></small>
  </blockquote>
</div>
<% end %>

<% if place.photos.present? %>
<div class="clear"></div>
<div class="flex-container">
<div class="col-xs-6">
    <%= image_tag place.photos.last.picture %>
</div>
</div>
<% end %>

</div>

<% end %>

<div class="flickr_pagination">
<%= will_paginate @places %>
</div>