<% @places.each do |place| %>

<div class="place col-xs-10 col-xs-offset-1">
  <h1><%= link_to place.name, place_path(place) %></h1><br>
  <i><%= place.address %></i><br><br>
  <p><%= place.description %></p>

  <p class="pull-right text-muted"><% if place.user.present? %>
    <% ind = place.user.email.index('@') %>
    <% new_email = place.user.email.slice(0, ind) %>
    <small>Added by <%= new_email %></small>
  <% end %></p>

<% if place.comments.present? %>
<div class="col-xs-12">
  <blockquote>
    <% if place.comments.last.humanized_rating.present? %>
      <b><%= place.comments.last.humanized_rating %></b> -
    <% end %>
    <%= place.comments.last.message %>
    <% ind2 = place.comments.last.user.email.index('@') %>
    <% new_email2 = place.comments.last.user.email.slice(0, ind2) %>
    <small><%= new_email2 %></small>
  </blockquote>
</div>
<% end %>

</div>

<% end %>

<div class="flickr_pagination">
<%= will_paginate @places %>
</div>